<template>
<div>
  <h1>kDropdown component (vue):</h1><br />
  <a href="#"
    data-tgt="kDropdown"
    @click.prevent="toggleDropdown"
    style="width: 120px; display: inline-block;">
    toggle dropdown
  </a>
  <div style="display: inline-block;">
    <k-dropdown
      :open="openDropdown"
      direction="right"
      @close="hideDropdown">
      <p><a href="#" @click.prevent="fire">dropdown item 1</a></p>
      <p><a href="#" @click.prevent="fire">dropdown item 2</a></p>
      <p><a href="#" @click.prevent="fire">dropdown item 3</a></p>
    </k-dropdown>
  </div>
  <k-dropdown
    :open="openDropdown"
    @close="hideDropdown">
    <p><a href="#" @click.prevent="fire">dropdown item 1</a></p>
    <p><a href="#" @click.prevent="fire">dropdown item 2</a></p>
    <p><a href="#" @click.prevent="fire">dropdown item 3</a></p>
  </k-dropdown>
</div>
</template>

<script>
import kDropdown from "../component/kDropdown.vue"

export default {
  components: {
    kDropdown
  },
  data() {
    return {
      openDropdown: false
    }
  },
  computed: {
    close() {
      return !this.open
    }
  },
  methods: {
    hideDropdown() {
      this.openDropdown = false
    },

    toggleDropdown() {
      this.openDropdown = !this.openDropdown
    },

    fire(event) {
      alert("clicked " + event.target.innerHTML)
    }
  }
}
</script>
