<template>
  <div class="kDropdown" :class="[{ __opened: open }, directionClass]" v-on-clickaway="hide">
    <div class="kDropdown_window">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'kDropdown',
  mixins: [ clickaway ],
  props: {
    open: {
      type: Boolean,
      default: false
    },
    direction: {
      type: String,
    }
  },
  computed: {
    directionClass() {
      return this.direction ? '__direction_' + this.direction : null
    }
  },
  methods: {
    hide(e) {
      // close all other dropdowns, except one we're currently operation with
      /*
      let targetUID = e.target.getAttribute('uid')
      let parentUID = this.$options.parent._uid

      if (parseInt(targetUID) !== parentUID) {
        this.$emit('close')
        return
      }
      */

      // this lets dropdown open
      if (e.target.dataset.tgt === 'kDropdown')
        return

      // close opened current dropdown, if opened
      if (this.open) {
        this.$emit('close')
      }
    }
  }
}
</script>

<style lang="sass" src="./kDropdown.sass"></style>
