$animate-normal: all 0.3s ease

.kDropdown
  position: relative

  .kDropdown_window
    position: absolute
    z-index: 50
    top: 0
    left: 0
    border: 1px solid #f0f0f0
    background: #fff
    box-shadow: 0 5px 13px rgba(0,0,0,.2)
    visibility: hidden
    opacity: 0
    transition: $animate-normal

  &.__opened

    .kDropdown_window
      visibility: visible
      opacity: 1
      transform: translateY(5px)

  &.__direction_right

    &.__opened

      .kDropdown_window
        transform: translateX(5px)

  &.__direction_left

    &.__opened

      .kDropdown_window
        transform: translateX(-5px)


